[Unit]
Description=WAN Failover
After=NetworkManager.service
Wants=NetworkManager.service

[Service]
Type=simple
User=root
Group=root
ExecStart=python3 /home/raftadmin/network-utils/wan-failover/wan_failover.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
